# Python
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/*.pyc
backend/sorte_a_dois.db

# Flutter
amanda_naubert/build/
amanda_naubert/.dart_tool/
amanda_naubert/.flutter-plugins
amanda_naubert/.flutter-plugins-dependencies
amanda_naubert/android/.gradle/
amanda_naubert/.idea/

# Sistema
.DS_Store
Thumbs.db